@import 'effects/fade.css';


.swipe-right {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  
  .swipe-right.active {
    transform: translateX(0);
  }
  
  .swipe-left {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .swipe-left.active {
    transform: translateX(0);
  }
  