/*Imports*/
@import 'button.css';
@import 'vars.css';
@import 'link.css';
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
/*Classes for main*/
.bg-color-mode-dark{
    --background-color:rgb(18,18,18);
    --element-color:#ffffff
}
.bg-color-mode-light{
    --background-color:rgb(252, 252, 252);
    --element-color:rgb(18, 18, 18);
}
body{
    background-color:var(--background-color);
    color:var(--element-color);
    font-family: "SUSE",sans-serif;
}/*Elements*/

.color-primary {
    color: var(--primary);
}




